* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: JetBrainsMono;
  src: url(./assets/fonts/JetBrainsMono-Regular.ttf);
}
@font-face {
  font-family: OnestSanSerif;
  src: url(./assets/fonts/Onest-Regular.ttf);
}
@font-face {
  font-family: YoungSerif;
  src: url(./assets/fonts/YoungSerif-Regular.ttf);
}
@font-face {
  font-family: Joystix;
  src: url(./assets/fonts/Joystix.otf);
}
.type-profile {
  font-family: Joystix;
  font-size: 0.7em;
  letter-spacing: -0.07em;
}
.standard-btn {
  background-color: red;
}
.highlighted-btn {
  background-color: red;
}

