.contact-container {
    min-height: 70vh;
}
.central-form {
    max-width: 1000px;
    padding: 20px;
    display: flex;
    border-radius: 12px;
    margin: 0 auto;
    flex-direction: row;
    justify-content: center;
    background-color: var(--fg0);
    box-shadow: 0 0px 20px -2px rgba(0, 0, 0, 0.5);
}

.central-form h2 {
    color: var(--textContrast-fg4);
    letter-spacing: 0.2rem;
    margin-bottom: 20px;
    background-color: var(--fg1);
    width: 350px;
    font-family: OnestSanSerif;
}
.back-form {
    max-width: 800px;
    margin: 50px 0 0 30px;
    display: flex;
    justify-content: space-between;
}
.contact-texts {
    display: flex;
    flex-direction: column;
    padding: 0;
}
/* .contact-texts h4 {
    color: var(--textContrast-fg4);
    letter-spacing: 0.2rem;
    font-weight: 600;
    display: flex;
    position: relative;
    font-family: OnestSanSerif;
    align-self: center;
} */

.contact-img img {
    width: 340px;
    height: 355px;
    margin-top: 10px;
    border-radius: 15px;
}
.central-form form {
    width: auto;
    display: flex;
    padding: 15px;
    justify-content: center;
    flex-direction: column;
    margin-top: -52px;
    background-color: var(--bg0_h);
    border-radius: 12px;
}
form p {
    text-align: center;
    margin-bottom: 10px;
    color: var(--orange0);
    letter-spacing: 0.4rem;
    font-family: OnestSanSerif;
}
form label {
    margin: 10px 0 5px 0;
    color: var(--fg0);
    font-family: OnestSanSerif;
}
form input, textarea {
    width: 100%;
    border: 2px solid var(--fg4);
    outline: none;
    border-radius: 5px;
    background-color: var(--bg1);
    padding: 0.5rem 0.5rem;
    font-size: 0.9rem;
    font-family: OnestSanSerif;
    margin-bottom: 19px;
    transition: 0.3s;

}
.send-btn-container{
    display: flex;
    align-self: center;
}
input:focus, textarea:focus {
    border: 2px solid var(--orange0);
    background-color: var(--bg0_h);
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  align-items: center;
  align-self: center;
  width: 65px;
  height: 40px;
}
.lds-ellipsis div {
  position: absolute;
  top: 20px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: var(--orange0);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}


@media only screen and (max-width: 898px) {
    .central-form {
        flex-direction: column;
    }
    .contact-texts {
        align-self: center;
        margin-bottom: 15px;
    }
    .back-form {
        width: 350px;
        align-self: center;
        margin: 55px auto;
    }
}